nav.side-navigation {
  width: 20vw;
  background: var(--bg-color-2);
  position: fixed;
  height: 100%;

  ul {
    width: 100%;
    li {
      width: 100%;
      list-style: none;
      margin: 25px 0;
      &:hover,
      &:focus {
        transform: translateX(4px);
      }
      a.nav_link {
        text-decoration: none;
        color: var(--text-color);
        transition: 0.25s ease;
        &:hover {
          color: var(--white-color);
        }
        i {
          font-size: 13px;
          margin: 0 10px;
        }
        span {
          margin: 0 10px;
        }
      }
    }
  }
}
